@font-face {
    font-family: "OpenSans Bold";
    src: url(/assets/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSans Regular";
    src: url(/assets/fonts/OpenSans-Regular.ttf);
}
/*Estilos header y navbar*/
#navbarNav ul{
    font-family: "OpenSans Regular";
}
#navContainer{
    background-color: #E83E8C;
}
#suricata_logo{
    width: 123px;
    margin-left:5rem;
}
.nav-item a{
    font-family: "OpenSans Regular";
}
/*Estilos main y cards especificos*/
h1{
    font-family: "OpenSans Bold";
    font-size:60px;
    color: #707070;
}
h5{
    font-family: "OpenSans Bold";
    font-size: 17px;
    text-align: start;
}
.card{
    width: 248px !important;
}
.card-text{
    font-family: "OpenSans Regular";
    font-size: 16px;
    text-align: start;
}
.list-group-item{
    font-family: "OpenSans Regular";
    font-size: 11px;
}
.card-link{
    font-family: "OpenSans Regular";
    font-size: 11px;
}
/*Estilos footer*/
footer{
    margin-top:4rem;
}
#pago_container{
    background-color: #17A2B8;
}
h2{
    font-family: "OpenSans Bold";
    font-size:40px;
    color: #FFFFFF;
}
#suricata_footer{
    width: 53px;
}
#footer_second{
    background-color: #E83E8C;
}